.main-bar {
  height: 100px;
  width: 100%;
  padding: 0px;
  background-color: #3F51B5;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  filter: drop-shadow(0px 0px 5px #666);
}

.logo {
  font-family: 'Helvetica';
  font-size: 48px;
  font-weight: bold;
  color: #FFF;
  opacity: 0.87;
  display: inline-block;
}

.addButton {
  float: right;
  opacity: 0.87;
  color: #FFF;
  background-color: #34ef60;
  margin-top: 35px;
  margin-right: 15px;
}

.aragmatikes {
  margin-top: 10px;
  float: left;
  background-color: #E8EAF6;
  border-radius: 10px;
  width: 350px;
  height: 100vh;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.aragmatikes li {
  opacity: 0.87;
  font-size: 24px;
  padding-top: 20px;
  font-family: Helvetica;
  background-color: inherit;
}

.aragmatikiContent {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #E8EAF6;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 100vh;
}

.content-style {
  padding-left: 25px;
  padding-top: 15px;
}

form {
  padding-top: 25px;
}

.label-style {
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 20px;
}

#submit-btn {
  margin-top: 25px;
  margin-right: 15px;
  float:right;
}
