.main-bar {
  height: 100px;
  width: 100%;
  padding: 0px;
  background-color: #3F51B5;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  filter: drop-shadow(0px 0px 5px #666);
}

.logo {
  font-family: 'Helvetica';
  font-size: 48px;
  font-weight: bold;
  color: #FFF;
  padding: 13px;
  padding-top: 20px;
  opacity: 0.87;
  margin: 0px;
  display: inline-block;
}

.addButton {
  float: right;
  opacity: 0.87;
  color: #FFF;
  background-color: #34ef60;
  margin-top: 35px;
  margin-right: 15px;
}

.aragmatikes {
  margin-top: 10px;
  float: left;
  background-color: #E8EAF6;
  width: 350px;
  height: 100vh;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.aragmatikes li {
  opacity: 0.87;
  font-size: 24px;
  padding-top: 20px;
  font-family: Helvetica;
}

.aragmatikiContent {
  margin-top: 10px;
  background-color: #E8EAF6;
  margin-left: 370px;
  margin-right: 35px;
  height: 100vh;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.content-style {
  padding-left: 25px;
  padding-top: 15px;
}
